<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VNDorm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="Enrollment_DSSEntities" connectionString="metadata=res://*/Entities.Enrollment_DSS.csdl|res://*/Entities.Enrollment_DSS.ssdl|res://*/Entities.Enrollment_DSS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=THUYTIEN\SQLEXPRESS;Initial Catalog=Enrollment_DSS;Persist Security Info=True;User ID=sa;Password=fathertime;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="connectSQL" connectionString="Data Source=THUYTIEN\SQLEXPRESS;Initial Catalog=Enrollment_DSS;Persist Security Info=True;User ID=sa;Password=fathertime" />
  </connectionStrings>
  <appSettings>
    <add key="CurrentLanguage" value="vietnamese" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>